.p {
  color: #9f9f9f;
  padding-bottom: 55px;
  font-size: 16px;
}
.L {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 46px;
}
// .sec3_card {

// }

.active {
  color: #b88e2f;
  padding-bottom: 5px;
  border-bottom: 1px solid #b88e2f;
}

.shop_top {
}
